/* Configurações principais */
.containerport {
    width: 100vw;
    height: 898px;
    display: grid;
    grid-template-rows: 1fr 4fr;
    z-index: 10;
}

.txtport {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.cardport {
    z-index: 1000;
    transition: all 0.3s ease;
    transform: scale(1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}
.cardport h1 {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    font-size: 22px;
}
.cardum,
.carddois,
.cardtres {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    border: 5px solid #f1f1f1;
    box-shadow: 0 0 10px #1515159e;
    background-color: #101010;
    color: #f1f1f1;
}

/* Fundo com ::after */
.cardum .imgP::after,
.carddois .imgP::after,
.cardtres .imgP::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 262px;
    height: 249px;
    margin: 19px;
    background-color: transparent;
    z-index: -1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.cardum .imgP::after {
    background-color: #941329;
}

.carddois .imgP::after {
    background-color: #1b7612;
}

.cardtres .imgP::after {
    background-color: #330f6d;
}

.imgP {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgP img {
    padding: 0px 19px;
    width: auto;
    height: 249px;
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.769));
    display: flex;
    justify-self: center;
}

/* Hover para expandir card */
.cardum:hover,
.carddois:hover,
.cardtres:hover {
    width: 300px;
    height: 490px;
    transition: all 1.0s ease;
    transform: scale(1.09);
}

/* Botão e parágrafo */
.cardum .txtcardum,
.carddois .txtcarddois,
.cardtres .txtcardtres {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    justify-items: end;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}

.cardum:hover .txtcardum,
.carddois:hover .txtcarddois,
.cardtres:hover .txtcardtres {
    opacity: 1;
    visibility: visible;
}

.cardum:hover .txtcardum button,
.carddois:hover .txtcarddois button,
.cardtres:hover .txtcardtres button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 25px;
    font-size: 15px;
    margin-right: 19px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background: #f1f1f1;
    transition: all 1.0s ease 0.3s;
}

.cardum:hover .txtcardum button img,
.carddois:hover .txtcarddois button img,
.cardtres:hover .txtcardtres button img {
    width: 18px;
    height: 18px;
}

.cardum:hover .txtcardum p,
.carddois:hover .txtcarddois p,
.cardtres:hover .txtcardtres p {
    text-align: justify;
    font-size: 14px;
    padding: 19px;
}

/* Responsividade */
@media (max-width: 1200px) {
    .txtport h1 {
        font-size: 50px;
        transition: none;
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .containerport {
        width: 100vw;
        height: 300vh;
    }

    .cardport {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-content: center;
        justify-items: center;
        align-items: center;
    }

    .cardum,
    .carddois,
    .cardtres {
        width: 400px;
        height: 300px;
    }

    .imgP img {
        padding: 5px 25px;
        width: 350px;
        height: auto;
        filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
    }

    .cardum:hover .imgP img,
    .carddois:hover .imgP img,
    .cardtres:hover .imgP img {
        width: 300px;
        height: auto;
        padding: 0px 50px;
        transform: translateY(-20px);
    }
}
